{{ partial "header.html" . }}

<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3 text-center">{{ .Title }}</h1>
      {{ with .Params.subtitle }}
      <p class="text-center">{{.}}</p>
      {{ end }}
      <p class="text-center"><a class="btn btn-primary btn-lg" href="{{ .Params.jumbolink1 }}" role="button">{{ .Params.jumbolinktext1 }}</a></p>
    </div>

    {{ if .Params.clientlogos }}
    <div class="container">
      <div class="d-flex justify-content-around">
        {{ range .Params.clientlogos }}
              <div class="p-2"><img src="{{ .clientlogo }}" /></div>
        {{ end }}
      </div>
    </div>
    {{ end }}    
  </div>

  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-around">
      {{ if .Params.heading1 }}
        <div class="p-2">
          <h2>{{ .Params.heading1 }}</h2>
          <p>{{ .Params.img1 }}</p>
          <p>{{ .Params.paragraph1 }}</p>
          <p><a class="btn btn-secondary" href="{{ .Params.link1 }}" role="button">{{ .Params.linktext1 }}</a></p>
        </div>
      {{ end }}

      {{ if .Params.heading2 }}
        <div class="p-2">
          <h2>{{ .Params.heading2 }}</h2>
          <p>{{ .Params.img2 }}</p>
          <p>{{ .Params.paragraph2 }}</p>
         <p><a class="btn btn-secondary" href="{{ .Params.link2 }}" role="button">{{ .Params.linktext2 }}</a></p>
        </div>
      {{ end }}

      {{ if .Params.heading3 }}
        <div class="p-2">
          <h2>{{ .Params.heading3 }}</h2>
          <p>{{ .Params.img3 }}</p>
          <p>{{ .Params.paragraph3 }}</p>
          <p><a class="btn btn-secondary" href="{{ .Params.link3 }}" role="button">{{ .Params.linktext3 }}</a></p>
        </div>
      {{ end}}
      </div>
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="row">
      <div class="p-2">
      {{.Content}}
      </div>
    </div>
  </div>
</main>

{{ partial "footer.html" . }}
